body {
    background-color: rgba(59, 189, 241, 0.986);
}
h1 {
    text-align: center;
    font-size: 48px;
}
.position {
    width: 485px;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: yellow;
    border-radius: 1rem;
    border: 3px solid black;
}
.position span {
    display:  flex;
    justify-content: center;
    padding: 0.2rem 0.2rem;
    font-size: 18px;
}
.position .himmelsrichtung1 {
    padding:  1rem;
    font-size: 18px;
    font-weight: 700;
}
.position .himmelsrichtung .himmelsrichtung1 {
    margin-top: 1rem;
}
#heading {
    width: 100px;
    margin: 0.3em;
    padding: 0.3em;
    text-align: center;
}
.position button {
        width: 5rem;
        height: 2rem;
        margin: 1em 0.5em;
        background-color: #00fd37;
}
#myCanvas {
    margin-top: 2rem;
    border: 3px solid #272727;
    background-color: #b4fc85;
}
.container {
    display:  flex;
    justify-content: center;
}

